.timeline {
  width: 700px;
  display: block;
  border-radius: 4px;
  vertical-align: top;
  margin-right: 10px auto;
}

.twists {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  margin: 10px 0px;
  background: rgb(248, 224, 115);
  width: 96%;
}

#hashtag-form {
  text-align: right;
  width: 100%;
  background: rgb(248, 224, 115);
}

#join-form {
  background-color: rgb(245, 187, 213);
  border-radius: 4px;
  padding: 10px;
}
